{
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": false,
    "react/jsx-indent": false,
    "react/react-in-jsx-scope": false,
    "react/prop-types": false,
    "indent": ["error", 4]
  }
}